TripalocalBeta/Supported Files/JGProgressHUD/JGProgressHUD.xcodeproj/xcuserdata/kevinho.xcuserdatad
TripalocalBeta.xcodeproj/project.xcworkspace/xcuserdata/kevinho.xcuserdatad
TripalocalBeta.xcodeproj/xcuserdata/kevinho.xcuserdatad
Pods
.idea
TripalocalBeta.xcworkspace/xcuserdata
